services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-bartlomiejcisek
    restart: unless-stopped
    env_file:
      - .env
    labels:
      - traefik.enable=true
      - traefik.http.routers.api-bartlomiejcisek.rule=Host(`api.bartlomiejcisek.pl`)
      - traefik.http.routers.api-bartlomiejcisek.entrypoints=websecure
      - traefik.http.routers.api-bartlomiejcisek.tls=true
      - traefik.http.routers.api-bartlomiejcisek.tls.certresolver=cloudflare
      - traefik.http.services.api-bartlomiejcisek.loadbalancer.server.port=80
    networks:
      - traefik

networks:
  traefik:
    external: true
